.nav-bar {
  background-color: #212121;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
}

.nav-bar__li span {
  margin-top: 5px;
  font-size: 13px;
}

.nav-bar__ul {
  display: flex;
  width: 100%;
}

.nav-bar a {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  transition: all 0.5s linear;
}

.nav-bar a:hover {
  background-color: aliceblue;
  border-radius: 10px;
  cursor: pointer;
}

.nav-bar a:hover i,
.nav-bar a:hover span {
  color: black;
}

.nav-bar__li {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  align-items: center;
}
