.no-web {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: #030303;
  display: flex;
  flex-direction: column;
  top: 0;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.no-web span {
  padding: 30px;
}

@media screen and (max-width: 500px) {
  .no-web {
    animation: logo 3s ease-in-out forwards;
  }
}

@keyframes logo {
  0% {
    transform: none;
    opacity: 1;
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(2);
    opacity: 0;
    display: none;
  }
}
