/* font */
@import url('https://fonts.cdnfonts.com/css/youtube-sans');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@import 'reset.css';

/* Component */
@import '/css/component/albums.css';
@import '/css/component/category.css';
@import '/css/component/controller.css';
@import '/css/component/status-bar.css';
@import '/css/component/header.css';
@import '/css/component/music-list.css';
@import '/css/component/nav-bar.css';
@import '/css/component/no-web.css';
@import '/css/component/hashtag.css';

/* Screen */
@import '/css/screen/playing.css';
@import '/css/screen/playlist.css';
@import '/css/screen/popular.css';
@import '/css/screen/storage.css';

body {
  font-family: 'YouTube Sans', sans-serif;
  background-color: #030303;
  color: white;
  padding: 0 20px;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(89, 91, 91);
  border-radius: 10px;
  height: 25%;
}

body::-webkit-scrollbar-track {
  background: rgba(8, 8, 8, 0.902);
}

a:visited,
a:link,
a:active {
  color: white;
  text-decoration: none;
}
