.controller,
.controller__btn-white,
.controller__btn-black {
  display: flex;
  align-items: center;
}

.controller {
  justify-content: space-evenly;
  padding: 10px 0;
  width: 100%;
}

.controller__btn-white,
.controller__btn-black {
  border-radius: 50%;
  justify-content: center;
}
.controller__btn-black {
  width: 50px;
  height: 50px;
  background-color: rgba(63, 63, 63, 0.285);
  color: white;
  font-size: 25px;
  font-weight: 100;
}

.controller__btn-none {
  background-color: unset;
}

.controller__btn-white {
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.916);
  color: black;
  font-size: 70px;
  box-sizing: border-box;
}

.controller__btn-only {
  background-color: #2c400f;
  color: white;
}

.controller__btn-none {
  font-size: 50px;
}

.controller .controller__btn-none:nth-child(1),
.controller .controller__btn-none:nth-child(5) {
  font-size: 25px;
}
