.status-bar {
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  padding: 10px 30px 0 30px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  color: white;
}
.status-bar__row {
  display: flex;

  justify-content: space-between;
}

.status-bar__column {
  font-size: 20px;
}

.status-bar__column i {
  margin-left: 6px;
}

.status-bar__column span {
  margin-right: 6px;
}
